{{! Copyright 2021, Yahoo Inc }}
<div
  id={{this.guid}}
  class="grid-stack"
  {{did-insert this.setup}}
  {{did-update this.update @options}}
  {{will-destroy this.willDestroyNode}}
  ...attributes
>
  {{yield this}}
</div>