<h2 id='title'>Welcome to Ember Gridstack</h2>

<button class='new-item-btn' onclick={{action 'changeItems'}}>+ New Item</button>

<GridStack @onChange={{action (mut test) true}}>
  {{#each items as |item|}}
    <GridStackItem
      @options={{hash x=0 y=item}}
    >
      {{item}}
    </GridStackItem>
  {{/each}}
</GridStack>


{{outlet}}
